* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #111111;
  font-size: 10px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: white;
}

.nav-bar {
  height: 5rem;
  display: flex;
  align-items: center;
}

.nav-bar p {
  color: white;
  font-size: 1.05rem;
  letter-spacing: 0.62rem;
  margin-left: 7rem;
}

.nav-border {
  width: 100%;
  height: 1px;
  background-color: #292929;
}

.page-contents {
  position: absolute;
  right: 8rem;
}

.page-contents ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-contents ul li {
  list-style: none;
  padding: 0 20px;
}

.page-contents ul li a{
  font-size: 1rem;
  color: white;
  text-decoration: none;
}

.main-container {
  margin: 0 auto;
  /* margin-top: 5rem; */
  /* display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center; */
  font-size: 1.05rem;
  max-width: 870px;
  padding: 10rem 20vw 0 20vw;
  color: #b1b1b1;
}

.main-text {
  line-height: 3.7rem;
  font-size: 3.2rem;
  margin-top: 2rem;
  color: white;
  letter-spacing: 0.25rem;
}

.gradient-1 {
  background: linear-gradient(
    90deg,
    #e39600 6.72%,
    #ea4c89 43.47%,
    #8f48eb 75.22%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.intro-para-1 {
  letter-spacing: 0.05rem;
  padding-top: 4rem;
  line-height: 2.2rem;
}

.intro-para-2 {
  letter-spacing: 0.05rem;
  padding-top: 2rem;
  line-height: 2.2rem;
}

.contact-links ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding-top: 2rem;
}
.contact-links ul li a {
  fill: #b1b1b1;
  padding-right: 2rem;
}
.contact-links {
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.skills-container {
  font-size: 1.05rem;
  max-width: 870px;
  padding: 4.8rem 20vw 0 20vw;
  color: #b1b1b1;
  margin: 0 auto;
  margin-top: 15rem;
}

.head {
  font-size: 1.3rem;
  color: white;
  letter-spacing: 0;
}

.skills {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
  align-items: flex-start;
}

.css-pic {
  height: 7rem;
  /* visibility: hidden; */
  position: relative;
  opacity: 0;
  transition: 0.25s ease-out;
  right: 15rem;
  /* top: 10rem; */
}

.skill2 {
  padding-top: 5rem;
}

.js-pic {
  opacity: 0;
  transition: 0.25s ease-out;
  position: relative;
  height: 7rem;
  right: 20rem;
  top: 2rem;
}

.card {
  background-color: #292929;
  height: 8rem;
  width: 55vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition: 0.3s;
  position: relative;
  border-radius: 10px;
}

.card > p {
  padding-left: 1vw;
  transition: 0.3s;
}

.skill-name {
  color: white;
  font-weight: 800;
  font-size: 1.2rem;
  margin-right: 5rem;
}

.card:hover {
  height: 320px;
}

.card:hover p {
  transform: translateY(-100px);
}

.card:hover .css-pic {
  opacity: 1;
}

.card:hover .css-pic {
  transform: translateY(2rem);
}

.card:hover .js-pic {
  opacity: 1;
}

.card:hover .js-pic {
  transform: translateY(2rem);
}

.text-move {
  position: relative;
  right: 2rem;
}

.timeline{
font-size: 1.05rem;
max-width: 870px;
padding: 4.8rem 20rem 0 20rem;
margin: 0 auto;
margin-top: 5rem;
color: #b1b1b1 ;
}

.timeline p {
  font-size: 1.3rem;
  color: white;
  padding-bottom: 2rem;
}

.gridtime-line{
  width: 80vw;
  display: grid;
  /* max-width: 1000px; */
  padding: 4.8rem 4.8rem 2rem 4.8rem;
  margin: 0 auto;
  margin-top: 5rem;
}

.magic-bar{
  height: 10rem;
  width: 80vw;
  /* grid-row: span 3; */
  background-color: white;
  border-radius: 2.8rem;
  margin: 10rem 0;
  margin-bottom: 0;
  background: linear-gradient(90deg, #e39600, #ea4c89, #8f48eb);
  background-size: 600% 600%;
  animation: AnimationName 8s ease infinite;
}

@keyframes AnimationName {
  0% {
    background-position:  0% 51%;
  }
  
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position:  0% 51%;
  }
}

.birth{
  /* height: 10rem; */
  max-width: 15rem;
  /* background-color: #8f48eb; */
  /* grid-column:1/ span 2; */
  position: absolute;
  left: 12vw;
}
.college{
  /* max-width: 17rem; */
  /* background-color: #228976; */
  position: absolute;
  right: 15vw;
}
.school{
  height: 10rem;
  width: 10rem;
  /* background-color: #1bc07b; */
  /* margin-left: 45vw; */
  position: relative;
  left: 30vw;
}

.birth-col{
  display: flex;
  width: 70vw;
  /* gap: 76rem; */
}
.birth p {
  color: #b1b1b1;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.college p {
  color: #b1b1b1;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.school p {
  color: #b1b1b1;
  font-size: 1.1rem;
  padding-top: 1rem;
}
.head-tip{
  font-size: 2.5rem;
  color: white;
}
.school{
  /* padding-top: 5rem; */
}
.magic-stick{
  width: 2px;
  height: 4.2rem;
  margin-top: 1rem;
  background: linear-gradient(270deg, #e39600, #ea4c89, #8f48eb);
  background-size: 600% 600%;
  animation: AnimationName 12s ease infinite;
  margin: 0 auto;
}

.nav-mag-bar{
  background: linear-gradient(270deg, #e39600, #ea4c89, #8f48eb);
  background-size: 600% 600%;
  animation: AnimationName 12s ease infinite;
  height: 2px;
  width: 70vw;
  visibility: hidden;
}

.end span{
  background: linear-gradient(90deg, #e39600, #ea4c89, #8f48eb);
  background-size: 600% 600%;
  animation: AnimationName 8s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.end{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 30rem;
  font-size: 1.3rem;
  flex-direction: column;
}
.email{
  font-size: 1.1rem;
  color: #b1b1b1;
  padding-top: 1rem;
}